# Database configuration (adjust user, password, host, and port as needed)
DATABASE_URL=

# OpenAI Configuration (for LLM Chatbot and Embeddings)
OPENAI_API_KEY=your_openai_api_key_here
OPENAI_MODEL=

# AWS S3 Cloud Storage (Optional)
AWS_ACCESS_KEY_ID=your_aws_access_key_here
AWS_SECRET_ACCESS_KEY=your_aws_secret_key_here
AWS_REGION=us-east-1
AWS_S3_BUCKET_NAME=your_bucket_name_here

# JWT Security configuration
SECRET_KEY=your_secret_key_here
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440

# Application Base URL (e.g. http://Sprint AI.softprodigy.in)
APP_URL=http://Sprint AI.softprodigy.in

# LangSmith Observability & Tracing Configuration
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=your_langsmith_api_key_here
LANGSMITH_PROJECT=Sprint AI

